@font-face {
	font-family: HelveticaNeue-Bold;
	src: url(../fonts/HelveticaNeue-Bold.ttf) format("truetype"),
	     url(../fonts/HelveticaNeue-Bold.woff) format("woff"),
	     url(../fonts/HelveticaNeue-Bold.eot) format("eot");
}

@font-face {
	font-family: HelveticaNeue-Regular;
	src: url(../fonts/HelveticaNeue.ttf) format("truetype"),
			 url(../fonts/HelveticaNeue.woff) format("woff"),
	     url(../fonts/HelveticaNeue.eot) format("eot");
}