.container{
	max-width: 1680px;
	width: 100%;
	margin: 0 auto;
}

.header-mnu{
	background-color: #CBCBCB;
}
.mnu-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0 15px 0;
}
.mnu-top_link{
	text-decoration: none;
	color: #000;

}
.lang{
	padding-left: 26px;
}

.contacts{
	max-width: 645px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.acount{
	max-width: 380px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.fav{
	position: relative;
}

.fav::after{
	content:" ";
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
}



.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav{
	max-width: 880px;
	width: 100%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
  color: #474747;
}
.topmenu{
	display: flex;
	justify-content: space-between;
}

.down{
	position: relative;
}

.down::before{
	content: " ";
	background-image: url(../img/Rectangle.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	right: -20%;
	top: 5%;
	cursor: pointer;
}
.submenu {
	position: absolute;
	left: 70%;
	transform: scaleY(0);
	transform-origin: 0 0;
}



.topmenu li:hover .submenu {
	transform: scaleY(1);
	transition: 0.4s;
}

.shop-items{
	display: flex;
}

.search input{
	width: 280px;
	height: 45px;
	padding-left: 20px;
}